@import "~taro-ui/dist/style/index.scss";

page{
  width: 100%;
  height: 100%;
}

.at-tabs__header {
  position:relative;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:100%;
  padding:0 104px 0 20px;
  text-align:center;
  white-space:nowrap;
  background-color:#FFF;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  overflow:-moz-scrollbars-none;
}
.at-tabs__item--active{
  border-bottom: 3px solid #7f4395 !important;
  color: #7f4395 !important;
}
  